<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Microposts:</strong>
  	<table>
  		<thead>
		    <tr>
		      <th>Id</th>
		      <th>Content</th>
		      <th colspan="2"></th>
		    </tr>
		</thead>
		<tbody>
		    <% Micropost::where(user_id: @user.id).each do |micropost| %>
		      <tr>
		      	<td><%= micropost.id %></td>
		        <td><%= micropost.content %></td>
		      </tr>
		    <% end %>
	    </tbody>
	</table>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
